<!DOCTYPE html>
<html lang="en">
<head>
	<title>PFE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="/assets/admin/images/favicon.ico" type="image/x-icon">
	<!-- vendor css -->
	<link rel="stylesheet" href="/assets/admin/css/style.css">
</head>
<body style=" background: linear-gradient(80deg, rgba(240,111,167,1) 3%, rgba(130,177,233,1) 100%);" >
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar" style="background:linear-gradient(80deg, rgba(130,177,233,1) 0%, rgba(240,111,167,1) 100%)">	
			<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<div >
					<div class="main-menu-header">
						<img class="img-radius" src="/assets/img/gyne.png" alt="User-Profile-Image">
						<div class="user-details">
							<div id="more-details">Docteur Nesrine Machat <i class="fa fa-caret-down"></i>
							</div>
						</div>
					</div>
				</div>
<br><br>
<ul class="nav pcoded-inner-navbar contain "id="tit1">
	<li class="nav-item">
		<a href="admin/dashboard" class="nav-link "><span>
	  <img src="../../../../assets/icons/dashboard.png" class="icon"></span>
	  <span class="pcoded-mtext mx-2">Tableau de bord</span></a>
	</li>
	
<li class="nav-item pcoded-hasmenu">
  <a href="/admin/listP" class="nav-link "><span>
	 <img src="/assets/icons/consent.png"  class="icon"></span>
	 <span class="pcoded-mtext mx-2"> Patientes</span></a>
  <ul class="pcoded-submenu">
	  <li><a href="admin/listP" target="_blank">Liste des patientes</a></li>
  </ul>
</li>
<li class="nav-item pcoded-hasmenu">
<a href="admin/listapp" class="nav-link "><span>
   <img src="/assets/icons/online.png" class="icon"></span>
   <span class="pcoded-mtext mx-2"> Demande Rendez-vous</span></a>
<ul class="pcoded-submenu">
	<li><a href="admin/listapp" target="_blank">Consulter les rendez-vous</a></li>
</ul>
<li class="nav-item pcoded-hasmenu">
<a href="admin/listR" class="nav-link "><span>
<img src="/assets/icons/comments.png" class="icon"></span>
<span class="pcoded-mtext mx-2"> Messages</span></a>
<ul class="pcoded-submenu">
<li><a href="admin/listR" target="_blank">Consulter les messages </a></li>
</ul>
</li>
<li class="nav-item pcoded-hasmenu">
<a href="blog" class="nav-link "><span>
<img src="/assets/icons/blog.png" class="icon"></span>
<span class="pcoded-mtext mx-2"> Articles</span></a>
<ul class="pcoded-submenu">
<li><a href="blog" target="_blank">Consulter les articles </a></li>
</ul>
</li>
<li class="nav-item pcoded-hasmenu">
<a href="calender" class="nav-link "><span>
<img src="/assets/icons/clock.png" class="icon"></span>
<span class="pcoded-mtext mx-2"> calendrier </span></a>
</li>	
</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
		<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" href="/admin/dashboard"><span></span></a>
					<a href="#!" class="b-brand">
						<!-- ========   change your logo hear   ============ -->
						<img src="/assets/admin/images/logo-icon.png" alt="" class="logo-thumb">
					</a>
					<a href="#!" class="mob-toggler" >
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
                        
						<li class="nav-item" id="logout">
							<a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
							<div class="search-bar">
								<input type="text" id="m-search" class="form-control"  
                                placeholder="Rechercher...">
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
                      
						<li>
							<div class="dropdown" id="logout">
                                <img  class="ic mr-1"src="../../../../assets/icons/follower.png">
								<a class="dropdown-toggle mr-5" href="#" data-toggle="dropdown"><app-profile></app-profile></a>
								<div class="dropdown-menu dropdown-menu-right notification">
									<div class="noti-head" >
										<h6 class="d-inline-block m-b-0"></h6>
									</div>
								</div>
							</div>
						</li>&nbsp;&nbsp;&nbsp;
						<li>
							<div class="dropdown drp-user">
								<a href="/login" (click)="logOut()" id="logout"
                                     class="dropdown-toggle" data-toggle="dropdown">
									<i class="feather icon-log-out"></i>
								</a>
							</div>
						</li>
                       
					</ul>
				</div>
				
			
	</header>
	<!-- [ Header ] end -->
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block container">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Messages</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/admin/listP mx-2"> Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
		<div class="col-xl-12">
			<div class="container p-3 my-3 border cont">
				<div class="form-group mb-4">
				   <div class="card-header col-lg-12"><h1 class="text-center text">Listes des Messages</h1></div>
				   <input id="exampleFormControlInput2" type="text" placeholder="Chercher ...?"
				     class="form-control form-control-underlined">
				 </div><br>
				<!-- table section -->
			   
				<table class="table align-middle mb-0 text-center table-responsive-lg" style="overflow-x:auto;">
				   <thead class="bg countour border text-bold">
					 <tr>
					   <th>Nom</th>
					   <th>Prenom</th>
					   <th>Email</th>
					   <th>Sujet</th>
					   <th>Contenu de Message</th>
					   <th>Actions</th>
					   <th></th>
					 </tr>
				   </thead>
				   <tbody *ngFor="let message of messages" >
					 <tr>
						<td><p class="fw-normal mb-1">{{ message.nom}}</p></td>
						<td><p class="fw-normal mb-1">{{ message.prenom}}</p></td>
						<td><a class="text-decoration-none text-body px-2" href="mailto: {{ message.email}}">{{message.email}}</a></td>
					   <td><p class="fw-normal mb-1">{{ message.subject}}</p></td>
					   <td>
						<p class="fw-normal mb-1 justify-content-center text-center">
						  {{ message.mess }}
						</p>
					  </td>
					  
					   <td>
						 <button type="button" class="btn btn-link btn-sm btn-rounded" title="supprimer" *ngIf="message._id" (click)="deleteMessage(message._id)">
						   <i class="fa fa-trash icon"></i>
						 </button>
					   </td>
             <td>
              <button type="button" class="btn btn-link btn-sm btn-rounded" title="valider" >
               <i class="fa fa-check-circle" aria-hidden="true"></i>
              </button>
              </td>
					 </tr>
					 
				   </tbody>
				   
				 </table>
                 <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
                </mat-paginator>
			</div>
</div>

        <!-- [ Main Content ] end -->
    </div>
</section>
   <!-- Required Js -->
   <script src="/assets/admin/js/vendor-all.min.js"></script>
   <script src="/assets/admin/js/plugins/bootstrap.min.js"></script>
   <script src="/assets/admin/js/ripple.js"></script>
   <script src="/assets/admin/js/pcoded.min.js"></script>
<!-- Apex Chart -->
<script src="/assets/admin/js/plugins/apexcharts.min.js"></script>
<!-- custom-chart js -->
<script src="/assets/admin/js/pages/dashboard-main.js"></script>
</body>
</html>
