#logout{
    color: #fafcfa;
    font-size: 15px;
}
#tit{
    font-size: 20px;
}
#tit1{
    font-size: 14px;
}
.icon {
    width: 30px;
    height: 30px;
    background-size: cover;
  }
  .ico {
    width: 60px;
    height: 60px;
    background-size: cover;
  }
  b {
    background-color: black;
  }
  .valid-btn {
    background-color: rgb(143, 246, 143);
    color: white;
  }
  .invalid-btn{
    background-color: rgb(246, 143, 164);
    color: white;
  }
  .ic {
    width: 30px;
    height: 30px;
    background-size: cover;
  }
a{
    color: white;
}
.color{
    color: rgba(0, 0, 0, 0.66);
}
.profile-info,
.error-info {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-info p,
.error-info p {
  margin: 0;
}



