<body>
   <app-navbar></app-navbar>

    
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start mx-auto">
                    <h5 class="d-inline-block  text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important;">Bienvenue chez nous </h5>
                    <h1 class="display-1 text-white mb-md-4 text-center ">La meilleur solution pour  votre Santé </h1>
                    <div class="pt-2 ml-5 mx-auto text-center">
                        <a href="/about" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">A propos de docteur</a>
                        <a href="/appointment" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">Prenez un Rendez-vous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="assets/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block  text-uppercase border-bottom border-5 text-black">About Us</h5>
                        <h1 class="display-4">A propos de nous</h1>
                    </div>
                    <p>Bienvenue sur mon site dédiée à la gynécologie ! Je suis Nessrine machat, votre gynécologue qualifiée avec 9 ans d'expérience dans le domaine de la santé des femmes. Mon objectif principal est de fournir des soins de qualité, bienveillants et holistiques aux femmes de tous âges, en veillant à leur santé reproductive et à leur bien-être global.</p>
                    <p>Je suis passionnée par l'amélioration de la santé des femmes et je m'engage à offrir un environnement chaleureux et confortable où les femmes peuvent poser toutes leurs questions et recevoir des soins personnalisés en fonction de leurs besoins spécifiques. </p>
                    <p> Que vous ayez besoin d'un dépistage du cancer du col de l'utérus, d'un suivi de grossesse, de conseils en matière de contraception, ou de toute autre préoccupation liée à la gynécologie, vous pouvez compter sur moi pour vous offrir des soins de qualité et respectueux. Je suis impatiente de vous rencontrer et de vous accompagner dans votre parcours de santé.</p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-user-md  mb-3"></i>
                                <h6 class="mb-0 text-black">médecin <small class="d-block text-black ">qualifié</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-procedures  mb-3"></i>
                                <h6 class="mb-0 text-black">Services<small class="d-block text-black">D'urgence</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-microscope  mb-3"></i>
                                <h6 class="mb-0 text-black">Analyses<small class="d-block text-black">précises</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-heartbeat mb-3" aria-hidden="true"></i>
                                <h6 class="mb-0 text-black">Free<small class="d-block text-black">Ambulance</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block  text-uppercase border-bottom border-5 text-black">Présentations des Services</h5>
                <h1 class="display-4">Excellents Services Médicaux</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <i class="fa fa-2x fa-user-md text-white"></i>
                        </div>
                        <h4 class="mb-3">Gynecologie-obstérique</h4>
                        <p class="m-0">traitement de  tous les problèmes inhérents au dépistage, au diagnostic, au traitement et à la prévention des maladies de l'appareil reproducteur de la femme.</p>
                        <a class="btn btn-lg b rounded-pill" href="/service">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <i class="fa fa-2x fa-procedures text-white"></i>
                        </div>
                        <h4 class="mb-3">Echographie obstétricale et gynécologique</h4>
                        <p class="m-0">l'échographie abdominale,l'échographie endo-vaginale, qui visualise mieux le col de l'utérus, l'utérus, et les ovaires.</p>
                        <a class="btn btn-lg b rounded-pill" href="/service">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <i class="fa fa-2x fa-stethoscope text-white"></i>
                        </div>
                        <h4 class="mb-3">Les maladies du sein</h4>
                        <p class="m-0">Fibroadénome,Kyste,Changements fibrokystiques,Hyperplasie,Ecoulement du mamelon,Gynécomastie,Cancers du sein,Formes rares,Cancer inflammatoire,Calcifications mammaires</p>
                        <a class="btn btn-lg b rounded-pill" href="/service">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">

                            <i class="fa fa-2x fa-medkit text-white" aria-hidden="true"></i>
                        </div>
                        <h4 class="mb-3">Coelioscopie</h4>
                        <p class="m-0">La cœlioscopie est une technique de chirurgie permettant d’accéder à l’intérieur de l’abdomen par de petites incisions de la paroi abdominale. Cet acte se pratique pour diagnostiquer ou traiter certaines maladies, notamment gynécologiques ou digestives.</p>
                        <a class="btn btn-lg b rounded-pill" href="/service">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <i class="fa fa-2x fa-pills text-white"></i>
                        </div>
                        <h4 class="mb-3">Stérilité du couple</h4>
                        <p class="m-0">Incapacité pour un être vivant de se reproduire, de procréer, due à des troubles fonctionnels, à des lésions organiques des organes génitaux .</p>
                        <a class="btn btn-lg b rounded-pill" href="/service">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <i class="fa fa-2x fa-microscope text-white"></i>
                        </div>
                        <h4 class="mb-3">RCF</h4>
                        <p class="m-0">La tachycardie fœtale se définit comme un rythme cardiaque de plus de 160 battements par minute pendant une durée d'au moins 10 minutes.</p>
                        <a class="btn btn-lg b rounded-pill" href="/service">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->

 <!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-uppercase border-bottom border-5 text-black">Blog Post</h5>
            <h1 class="display-4">Nos Articles</h1>
        </div>
        <div class="row g-5">
            <div class="col-xl-4 col-lg-6" *ngFor="let article of articles">
                <div class="bg-light rounded overflow-hidden">
                    <img class="img-fluid w-100" *ngIf="article.photo" [src]="'http://localhost:4000/uploads/' + article.photo" alt="Article photo">
                    <div class="p-4">
                        <a class="h3 d-block mb-3" href="">{{ article.title }}</a>
                        <p class="m-0">{{ article.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Blog End -->
    <!-- Footer Start --><app-footer></app-footer>  <!-- Footer End -->
    <a href="/home" class="btn btn-lg b ma btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</body>