<app-navbar></app-navbar>
<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user-md text-white"></i>
                    </div>
                    <h4 class="mb-3">Hystéroscopie thérapeutique</h4>
                    <p class="m-0">L'hystéroscopie thérapeutique est une technique chirurgicale importante qui peut être utilisée par les gynécologues-obstétriciens pour traiter plusieurs problèmes gynécologiques.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-procedures text-white"></i>
                    </div>
                    <h4 class="mb-3">Traitement des kystes de l'ovaire</h4>
                    <p class="m-0">Les kystes de l'ovaire sont des excroissances bénignes qui se forment sur l'ovaire. Ils peuvent être causés par des infections, des tumeurs ou des troubles hormonaux et peuvent entraîner des complications sérieuses.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-stethoscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Maladies cervicales</h4>
                    <p class="m-0">Le cou est l'une des parties les plus importantes du corps humain. Il soutient le poids de la tête, sépare le haut et le bas du corps et est le siège de nombreuses articulations et muscles.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">

                        <i class="fa fa-2x fa-medkit text-white" aria-hidden="true"></i>
                    </div>
                    <h4 class="mb-3">Rajeunissement vaginal au laser(LVR)</h4>
                    <p class="m-0">Le rajeunissement vaginal au laser est une procédure médicale qui est pratiquée par des gynécologues obstétriciens pour améliorer la santé et la beauté des organes génitaux féminins.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-pills text-white"></i>
                    </div>
                    <h4 class="mb-3">douleur mammaire</h4>
                    <p class="m-0">La douleur mammaire est un symptôme fréquent chez les femmes, qui peut être lié à une variété de causes, allant de l'hormonal à la physiologique.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Chirurgie esthétique de la partie intime</h4>
                    <p class="m-0">La chirurgie esthétique intime est une procédure médicale qui vise à améliorer la beauté et le bien-être des parties intimes des femmes.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-heartbeat text-white" aria-hidden="true"></i>
                    </div>
                    <h4 class="mb-3">Échographie du col de l'utérus</h4>
                    <p class="m-0">L’échographie du col de l'utérus est une technique d’imagerie médicale très précise qui permet aux médecins spécialiste en gynécologie et en obstétrique de surveiller et de diagnostiquer de nombreuses maladies et conditions.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-pills text-white"></i>
                    </div>
                    <h4 class="mb-3">Fécondation in vitro (FIV)</h4>
                    <p class="m-0">La fécondation in vitro, ou FIV, est une procédure médicale qui est utilisée pour traiter l'infertilité. Cette procédure est largement utilisée dans le domaine de la gynécologie-obstétrique.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">augmentation du volume des grandes lèvres</h4>
                    <p class="m-0">L'augmentation du volume des grandes lèvres est une procédure médicale couramment pratiquée par les gynécologues-obstétriciens pour améliorer l'apparence et la sensation des organes génitaux féminins.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-pills text-white"></i>
                    </div>
                    <h4 class="mb-3">Les douleurs menstruelles</h4>
                    <p class="m-0">Les douleurs menstruelles sont un symptôme courant et peuvent être très invalidantes. Elles sont généralement associées à des saignements menstruels, des crampes abdominales et des douleurs dans les hanches et le bas du dos.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Frottis cervico vaginal</h4>
                    <p class="m-0">Le frottis cervico-vaginal est un examen médical qui peut être réalisé par les médecins généralistes pour détecter des anomalies dans le col de l'utérus et le vagin.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Troubles sexuelles du couple</h4>
                    <p class="m-0">Les troubles sexuels du couple peuvent être à l'origine de nombreux problèmes dans le couple et affecter gravement la qualité de vie des deux partenaires.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-pills text-white"></i>
                    </div>
                    <h4 class="mb-3">
                        Prise en charge incontinence urinaire</h4>
                    <p class="m-0">L'incontinence urinaire est un problème de santé courant qui affecte des millions de personnes dans le monde entier.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Évacuation de collection du vagin</h4>
                    <p class="m-0">L'évacuation de collection du vagin est une procédure chirurgicale pratiquée par un gynécologue-obstétricien (GO) pour traiter une infection du vagin.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Transfert d'embryons dans l'utérus</h4>
                    <p class="m-0">Le transfert d'embryons dans l'utérus est une technique médicale utilisée par les gynécologues-obstétriciens pour aider les couples à concevoir un bébé.</p>
                    <a class="btn btn-lg  rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Services End -->
<app-footer></app-footer>