<div ng-controller='appointmentsController'>
    <div id='container'>
        <br>
        <div id='appointments'>
            <h2>Doctor's Appointments</h2>
            <p class='pull-right'>Search:  <input type='text' ng-model='filter_name' placeholder='search name...' /></p>
            <table class='table table-striped'>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Patient Name</th>
                    <th>Complain</th>
                </tr>
                <tr ng-repeat='appointment in appointments | orderBy: "-created_at" | filter: filter_name' ng-if='isPast(appointment)'>
                        <td ng-bind='appointment.date | date: "longDate"'></td>
                        <td ng-bind='appointment.time | date: "shortTime"'></td>
                        <td ng-bind='appointment.patient_name'></td>
                        	
                </tr>
            </table>
            <form>
                <a href='#/appointment/new' class='btn btn-info pull-right'>Add New Appointment</a>
            </form>
            <p style='color:red;' ng-bind='errorInRemove'></p>
        </div>
    </div>
    </div>