* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/photos-gratuite/gynecologue-parlant-jeune-patiente-lors-consultation-medicale-dans-clinique-moderne-patient-gynecologue-lors-consultation-au-cabinet-gynecologique_657921-157.jpg?w=996&t=st=1684969831~exp=1684970431~hmac=40448a233239c4f928ffb20b4cdc0f00ae502a09341cd72a3e9a110382883b49");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-title {
  color: F59FA2;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #F59FA2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #F59FA2;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.login-title {
  text-align: center;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: rgb(246, 119, 178);
  font-size: 14px;
}



