<footer class="footer-20192">
  <div class="site-section">
    <div class="container">

      
      <div class="row">

        <div class="col-sm">
          <a href="#" class="footer-logo">Nesrine_machat_ep_khalfallah</a>
          <p class="copyright">
            <small>  ©   {{ currentYear }} Copyright: H&I </small>
          </p>
        </div>
        <div class="col-sm">
          <h3>Accueil</h3>
          <ul class="list-unstyled links">
            <li><a href="/about">A propos </a></li>
            <li><a href="/service">Services</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Appointment</h3>
          <ul class="list-unstyled links">
            <li><a href="/appointment">prenez un rendez-vous</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Contact</h3>
          <ul class="list-unstyled links">
            <li><a href="/contact">Envoyer un message</a></li>
            <li><a href="/contact">Localisation</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="mx-2">Follow us</h3>
          <ul class="list-unstyled social">
            <li class="mx-2"><a href="https://www.facebook.com/Cabinet-de-gyn%C3%A9cologie-obst%C3%A9trique-Dr-Machat-Nesrine-Ep-Khalfallah-113038777286823"><span class="icon-facebook"></span></a></li>
            <li class="mx-2"><a href="https://www.instagram.com/nesrine_machat_ep_khalfallah_/"><span class="fab fa-instagram" ></span></a></li>
            <li class="mx-2"><a href="mailto:machatnesrine081178@gmail.com"><span class="bi bi-envelope me-2"></span></a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</footer>